<h1><%= t "home.title" %></h1>

<p><%= t "mail.hi" %> <%= @user.name %>,</p>

<p>
<%= t "mail.text1" %>
</p>

<%= link_to t("mail.act!"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
